.about-bg-image {
  background: linear-gradient(rgba(29, 29, 29, 0.733), rgba(0, 0, 0, 0)),
    url("../Images/gallery-bg.jpg");
  background-size: contain;
  background-repeat: repeat;
  min-height: 100vh;
  width: auto;
}
