::selection {
    color: #eacbc7;
    background: #1f2328;
}

p.big-font-size {
    font-size: 100px;
    letter-spacing: 5px;
}

p.medium-font-size {
    font-size: 50px;
    letter-spacing: 5px;
}

p.justify-text {
    text-align: justify;
}

img.nasaImg {
    object-fit: cover;
    width: 500px;
    height: 300px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}